<tr>
  <td><%= service.id %></td>
  <td><%= service.name %></td>
  <td>
    <%= link_to '查看', em_service_path(service), target: '_blank' %>
    <%= link_to '编辑', edit_em_ser_cate_path(service) %>
    <%= link_to '删除', service, method: :delete, data: { confirm: 'Are you sure?',remote: true,type: :json } %>
  </td>
</tr>
