
<div class="panel">
  <dl class="sub-nav">
    <dd class="<%= @cate_id == 0 ? 'active' : '' %>"><%= link_to "所有", em_services_path %></dd>
    <% EmSerCate.cache_all.each do |cate| %>
    <dd class="<%= @cate_id == cate.id ? 'active' : '' %>"><%= link_to cate.name, em_services_path(cate.id) %></dd>
    <% end %>
  </dl>
</div>

<div class="panel callout">
  <ul class="medium-block-grid-3">
    <% @em_services.each do |service| %>
    <li>
      <%= link_to service.title, em_service_path(service) %>
    </li>
    <% end %>


  </ul>
</div>

