<%= form_for(@attend_rule) do |f| %>
  <div class="field">
    <%= f.label :description,"描述" %>
    <%= f.text_field :description %>
  </div>
<div class="field">
    <%= f.label :time_range,"工作时间区间" %>
    <%= f.text_field :time_range %>
  </div>
<div class="field">
    <%= f.label :min_unit,"最小计时单位" %>
    <%= f.text_field :min_unit %>
  </div>
  <div class="field">
    <%= f.label :title_ids,"显示列" %>
    <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-8">
    <% for col in ReportTitle.all %>
    <li>
      <%= check_box_tag "attend_rule[title_ids][#{col.id}]", col.id, @attend_rule.title_ids.include?(col.id), {:name => "attend_rule[title_ids][]"}%>
      <%= label_tag "user_roles_#{col.id}", col.des%>
    </li>
    <% end %>
  </ul>
    <%= hidden_field_tag "attend_rule[title_ids][]", "" %>
  </div>
  <div class="actions">
    <%= f.submit "提交",data:{disable_with: '提交中'},class: 'button medium' %>
  </div>
<% end %>
