<p id="notice"><%= notice %></p>

<h1>Listing Attend Rules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Title ids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attend_rules.each do |attend_rule| %>
      <tr>
        <td><%= attend_rule.name %></td>
        <td><%= attend_rule.description %></td>
        <td><%= attend_rule.title_ids %></td>
        <td><%= link_to 'Show', attend_rule %></td>
        <td><%= link_to 'Edit', edit_attend_rule_path(attend_rule) %></td>
        <td><%= link_to 'Destroy', attend_rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attend rule', new_attend_rule_path %>
