<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns large-9 medium-pull-3">
    <table>
      <thead>
        <tr>
          <th>名称</th>
          <th>时间区间</th>
          <th>最小单位</th>
          <th>标头列表</th>
          <th ></th>
        </tr>
      </thead>

      <tbody>
      <% @attend_rules.each do |attend_rule| %>
      <tr>
        <td><%= attend_rule.description %></td>
        <td><%= attend_rule.time_range %></td>
        <td><%= attend_rule.min_unit %></td>
        <td><%= link_to("点击查看",report_titles_path(attend_rule_id: attend_rule.id)) %></td>
        <td><%= link_to '编辑', edit_attend_rule_path(attend_rule) %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
    <fieldset>
      <legend><span>说明</span></legend>
      <p>时间区间：默认(0)为弹性工作时间</p>
      <p>最小单位：最小时间计时单位，分钟(15的倍数),如工作室最少计时单位为半小时（30），后台部门为1小时（60）</p>
    </fieldset>
  </div>
</div>

