<% checkinout_items.each do |item| %>
<tr>
  <td><%= item.rec_date %> <%= l(item.rec_date,format: '%A') %> </td>
  <td><%= item.checkin %></td>
  <td><%= item.checkout %></td>
</tr>
<% end %>
<tr>
  <td colspan=1> <%= page_entries_info(checkinout_items,entry_name: "") %> </td>
  <td colspan=2> <%= paginate(checkinout_items) %>
</tr>
