<% items.each do |item| %>
<tr>
  <td><%= item.rec_date %> <%= l(item.rec_date,format: '%A') %> </td>
  <td><%= item.user_name %></td>
  <td><%= item.dept_name %></td>
  <td><%= item.checkin %></td>
  <td><%= item.checkout %></td>
  <td><%= item.description %></td>
</tr>
<% end %>
<tr>
  <td colspan="3"><%= paginate(items,remote: true) %></td>
    <td colspan=3><%= page_entries_info items,entry_name: "记录" %></td>
</tr>
