<% items.each do |checkinout| %>
<tr>
  <td><%= checkinout.rec_date %></td>
  <td><%= checkinout.user_id %></td>
  <td><%= checkinout.user_name %></td>
  <td><%= checkinout.dept_name %></td>
  <td><%= checkinout.checkin %></td>
  <td><%= checkinout.checkout %></td>
  <td><%= checkinout.ref_time %></td>
</tr>
<% end %>
<tr>
  <td colspan="7"><%= paginate(items,remote:true) %></td>
</tr>
