<% items.each do |item| %>
<tr>
  <td><%= item.rec_date %></td>
  <td><%= item.user_name %></td>
  <td><%= item.dept_name %></td>
  <td><%= item.checkin %></td>
  <td><%= item.checkout %></td>
</tr>
<% end %>
<tr>
  <td colspan="5"><%= paginate(items) %></td>
</tr>
