<% items.each do |checkinout| %>
<tr>
  <td><%= checkinout.rec_date %></td>
  <td><%= checkinout.user_id %></td>
  <td><%= checkinout.user.user_name %></td>
  <td><%= checkinout.user.dept.name %></td>
  <td><%= checkinout.checkin %></td>
  <td><%= checkinout.checkout %></td>
  <td><%= checkinout.ref_time %></td>
</tr>
<% end %>
<tr>
  <td colspan="5"><%= paginate(items,remote:true) %></td>
</tr>
