<div class="row">
  <%= render 'welcome/body_right_nav' %>
  <div class="columns large-8 medium-pull-4">
    <h5><span>签到时间表</span></h5>
    <% if  can? :search,Checkinout %>
    <div id="search" class="panel">
      <form data-remote="true"  action="#" data-replace-with="#content">
        <div class="row">
          <div class="columns medium-4">
            <label>内容包含:</label>
            <%= text_field :checkinout, :user_id, placeholder: "用户id" %>
          </div>
          <div class="columns medium-4">
            <label>日期:</label>
            <%= text_field :checkinout,:rec_date,type: "date",placeholder: "2013-08-15"  %>
          </div>
          <div class="columns medium-4">
            <input type="submit" class="button small inline-button" text="搜索"/>
            <%= link_to "导出", checkinouts_path(format: :xls), class: "export_xls small button"  %>
          </div>
        </div>
      </form>
      <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
    </div>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>日期</th>
          <th>用户ID</th>
          <th>名字</th>
          <th>部门</th>
          <th>签入时间</th>
          <th>签出时间</th>
          <th>参考时间</th>
        </tr>
      </thead>
      <tbody id="content">
      <%= render partial: 'items', object: @checkinouts %>
      </tbody>
    </table>

  </div>
</div>

