<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <h4><span>签到记录</span></h4>
    <table>
      <th>日期</th>
      <th>签入时间</th>
      <th>签出时间</th>
      <% @checkinouts.each do |item| %>
      <tr>
        <td><%= item.rec_date %></td>
        <td><%= item.checkin.strftime("%H:%M") %></td>
        <td><%= item.checkout.strftime("%H:%M") %></td>
      </tr>
      <% end %>
    </table>
    <%= paginate(@checkinouts) %>

  </div>
</div>

