<div class="row">
  <%#= render 'users/right_nav' %>
  <div class="columns medium-12">
    <% if  can? :list,Checkinout %>
    <div id="search" class="panel">
      <form data-remote="true"  action="#" data-replace-with="#content">
        <div class="row">
          <div class="columns medium-2">
            <label>用户id:</label>
            <%= text_field :checkinout, :user_id, placeholder: "用户id" %>
          </div>
          <div class="columns medium-2">
            <label>用户名:</label>
            <%= text_field :user, :user_name, placeholder: "用户名" %>
          </div>
          <div class="columns medium-2">
            <label>部门:</label>
            <%= select :user, :dept_code,cache_dept,prompt: "选择部门" %>
          </div>
          <div class="columns medium-2">
            <label>开始日期:</label>
            <%= text_field_tag "checkinout[gt_rec_date]","",class: 'datepicker' ,readonly: true %>
          </div>
          <div class="columns medium-2">
            <label>结束日期:</label>
            <%= text_field_tag "checkinout[lt_rec_date]","",class: 'datepicker',readonly: true  %>
          </div>
          <div class="columns medium-2">
            <input type="submit" class="button tiny inline-button" text="搜索"/>
          </div>
        </div>
      </form>
      <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
    </div>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>日期</th>
          <th>名字</th>
          <th>部门</th>
          <th>签入时间</th>
          <th>签出时间</th>
          <th>异常描述</th>
        </tr>
      </thead>
      <tbody id="content">
      <%= render partial: 'items', object: @checkinouts %>
      </tbody>
    </table>

  <fieldset>
    <legend><span>说明</span></legend>
    <ul>
      <li>红色标注描述：该异常未审批</li>
      <li>蓝色描述：已审批异常考勤</li>
      <li><strong>注：本表只对有打卡记录异常作出标识，无打卡记录异常需自行查询</strong></li>
    </ul>
  </fieldset>
  </div>
</div>

