<%= form_for(@spec_day) do |f| %>
  <% if @spec_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spec_day.errors.count, "error") %> prohibited this spec_day from being saved:</h2>

      <ul>
      <% @spec_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sdate %><br>
    <%= f.date_select :sdate %>
  </div>
  <div class="field">
    <%= f.label :is_workday %><br>
    <%= f.check_box :is_workday %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
