<%= form_for(@spec_day) do |f| %>
<div class="row">
  <div class="columns medium-12 date">
    <%= f.label :sdate,"日期" %><br>
    <%= f.date_select :sdate %>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <div class="switch small radius">
      是否工作日
      <%= f.check_box :is_workday %>
      <%= f.label :is_workday,"" %>
    </div>
  </div>
</div>
<div class="row mt1em">
  <div class="columns medium-12">
    <%= f.label :comment,"描述" %><br>
    <%= f.text_area :comment %>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <%= f.submit "提交",class: "button small" %>
  </div>
</div>
<% end %>
