<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns large-8 medium-pull-4">
    <table>
      <thead>
        <tr>
          <th>日期</th>
          <th>是否上班</th>
          <th>注释</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody id="content">
      <% @spec_days.each do |spec_day| %>
      <tr>
        <td><%= spec_day.sdate %></td>
        <td><%= spec_day.is_workday ? "是":"否" %></td>
        <td><%= spec_day.comment %></td>
        <td><%= link_to '编辑', edit_spec_day_path(spec_day) %></td>
        <td><%= link_to '删除', spec_day, method: :delete, data: { confirm: 'Are you sure?',remote: true,type: :json } %></td>
      </tr>
      <% end %>
      <tr>
        <td colspan="5"><%= paginate(@spec_days) %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<%= link_to '新增', new_spec_day_path %>
<br>
