<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns large-9 medium-pull-3">
    <table>
      <thead>
        <tr>
          <th width=50%>名称</th>
          <th width=50%>排序</th>
        </tr>
      </thead>

      <tbody>
      <% @report_titles.each do |report_title| %>
      <tr id="<%= dom_id(report_title) %>" data-url="/report_titles/<%= report_title.id %>">
        <td class="rest-in-place" data-attribute="des"><%= report_title.des %></td>
        <td class="rest-in-place" data-attribute="ord"><%= report_title.ord %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<fieldset>
  <legend><span>操作说明</span></legend>
  <ul>
    <li>点击进行编辑</li>
    <li>按回车键进行确认，空白外点击取消编辑</li>
    <li>在邮件及网页中显示考勤确认单时，表头按排序值由小到大排列</li>
  </ul>
</fieldset>

