<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns large-8 medium-pull-4">
    <table>
      <thead>
        <tr>
          <th width=50%>名称</th>
          <th width=50%>排序</th>
        </tr>
      </thead>

      <tbody>
      <% @report_titles.each do |report_title| %>
      <tr id="<%= dom_id(report_title) %>" data-url="/report_titles/<%= report_title.id %>">
        <td class="rest-in-place" data-attribute="des"><%= report_title.des %></td>
        <td class="rest-in-place" data-attribute="ord"><%= report_title.ord %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


