<% items.each do |user| %>
  <tr>
    <td><%= user.uid %></td>
    <td><%= user.assault_state?(@date) ? "<span class='green bold'>#{user.user_name}</span>".html_safe : user.user_name %></td>
    <td><%= user.email %></td>
    <td><%= user.dept.try(:name) %></td>
    <td><%= user.title %></td>
    <td><%= user.expire_date %></td>
    <td><%= user.mgr_code %></td>
    <td><%= user.roles_name.join(",") %></td>
    <td class="actions"><%= link_to '详情', user %>
      <%= link_to '编辑', edit_user_path(user) if can?(:edit,User) %>
      <%= link_to('重置密码', unify_reset_user_path(user),data: {remote: true,method: :put,replace_with:'#modal_content',confirm: '系统将重置所有系统密码，确定执行该操作么？'}) if can?(:unify_reset,User) %>
      <%= link_to('删除账号', unify_delete_user_path(user),data: {remote: true,method: :put,replace_with:'#modal_content',confirm: '将删除该用户账号(除考勤系统外)，确定执行该操作么？'}) if can?(:unify_delete,User) %>
    </td>
  </tr>
<% end %>
<tr>
  <td colspan="5"><%= paginate(items,remote:true) %></td>
  <td colspan="4"><%= page_entries_info items %></td>
</tr>
<div id="modal_window" class="bg_blue reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <p id="modal_content">操作进行中，请稍候...</p>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<% foot do %>
<script type="text/javascript" charset="utf-8">
$(document).on("ajax:beforeSend",".actions a[data-remote]",function(){
  $("#modal_window").foundation("reveal",'open',{close_on_background_click:false})
});
$(document).on("ajax:replaced", ".actions a[data-remote]",function(){
  window.wrap_msgs($("#modal_content"));
});
</script>

<% end %>
