<div class="columns medium-3 medium-push-9">
  <div class="bg_grey border_grey ptl1em">
    <h5><span>管理功能</span></h5>
    <ul class="side-nav">
      <li class="active">
      <%= link_to "我的考勤", checkinouts_path(only: "me") %>
      </li>
      <li >
      <%= link_to "我的假单", episodes_path(only: "me") %>
      </li>
      <li class="divider"></li>
      <li><%= link_to "节假日管理", spec_days_path %></li>
      <li><%= link_to "系统配置", oa_configs_path %></li>
      <li><%= link_to "考勤规则管理", attend_rules_path %></li>

      <li class="divider"></li>
      <li><h6>部门管理</h6></li>
      <li><%= link_to "部门考勤", checkinouts_path  %></li>
    </ul>
  </div>
</div>
