<div class="columns medium-3 medium-push-9">
  <div class="bg_grey border_grey ptl1em">
    <h5><span>考勤相关</span></h5>
    <ul class="side-nav">
      <li class=""> <%= link_to_unless_current "我的考勤", home_users_path %> </li>
      <li><%= link_to_unless_current "我的签到记录", checkinouts_path %></li>
      <li >
      <%= link_to_unless_current "我的申请", episodes_path %>
      </li>
      <li><%= link_to_unless_current "我的异常考勤", journals_path %></li>
      <% if current_user %>
      <% if can?(:list,Journal) %>
        <li class="divider"></li>
        <li><%= link_to_unless_current "部门考勤", kaoqing_users_path("dept")  %></li>
        <li><%= link_to_unless_current "部门申请", list_episodes_path  %></li>
        <li><%= link_to_unless_current "部门签到记录", list_checkinouts_path  %></li>
        <li><%= link_to_unless_current "部门异常考勤", list_journals_path  %></li>
      <% end %>
      <% if can?(:create,:all) %>
        <li class="divider"></li>
        <li><%= link_to_unless_current "节假日管理", spec_days_path %></li>
        <li><%= link_to_unless_current "基础假期管理", year_infos_path %></li>
        <li><%= link_to_unless_current "系统配置", oa_configs_path %></li>
        <li><%= link_to_unless_current "考勤规则管理", attend_rules_path %></li>
        <li><%= link_to_unless_current "用户管理", users_path %></li>
        <li><%= link_to_unless_current "同步打卡数据", new_checkinout_path %></li>
        <li><%= link_to_unless_current "新增异常考勤", new_journal_path %></li>
        <li><%= link_to_unless_current "部门管理", departments_path %></li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
