<%= form_for(@user) do |f| %>
  <div class="field">
    <p><strong>姓名: <%= f.object.user_name %> </strong></p>
  </div>
  <div class="field">
    <%= f.label :password,"密码" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation,"密码确认" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "修改",class: "button" %>
    <%= f.submit "统一修改",class: "button" %>
  </div>
<% end %>


<fieldset>
  <legend><span>操作说明：</span></legend>
  <dl>
    <dt>点击修改只会修改考勤系统的密码。</dt>
    <dt>统一修改则会统一修改以下系统密码：</dt>
    <dd>
    cvs, svn,redmine<br>
      <blockquote> 项目管理,开发</blockquote>
    日报系统<br>
      <blockquote>所有工作室成员</blockquote>
    GM工具, 数据平台, UTS, ServerManager<br>
    <blockquote> 运营，游戏管理</blockquote>
    考勤系统
    <blockquote>所有公司员工</blockquote>
    社区后台管理系统
    <blockquote> 社区网站管理,人事招聘,客服QA,客服特单, 游戏征名, 充值活动管理,微信账号管理</blockquote>
    </dd>
  </dl>
</fieldset>
