<%= form_for(@user) do |f| %>
    <h5>姓名: <%= f.object.user_name %></h5>
<div class="row">
  <div class="columns medium-4">
    <%= f.label :dept_code,"部门" %>
    <%= f.select :dept_code, cache_dept,prompt: "选择部门" %>
  </div>
  <div class="columns medium-4">
    <%= f.label :password,"密码" %>
    <%= f.password_field :password %>
  </div>
  <div class="columns medium-4">
    <%= f.label :mgr_code,"直属管理者ID" %>
    <%= f.text_field :mgr_code %>
  </div>
</div>
<% if can?(:manage,Role) %>
<div class="row">
  <div class="columns medium-4">
    <%= f.label :title,"职位" %>
    <%= f.select :title,Episode::Title,prompt: true %>
  </div>
  <div class="columns medium-4">
    <%= f.label :assault_start_date,"突击开始时间" %>
    <%= f.text_field :assault_start_date,class: "datepicker",readonly: true  %>
  </div>
  <div class="columns medium-4">
    <%= f.label :assault_end_date,"突击结束时间" %>
    <%= f.text_field :assault_end_date,class: "datepicker",readonly: true  %>
  </div>
</div>


<div class="row">
  <div class="columns medium-12">
    <%= f.label :roles,"角色" %>
    <ul class='medium-block-grid-10 resources'>
      <% Role.all.each do |role| %>
        <li style="display: <%='none' if role.name == 'admin'  %>"><label> <%= check_box_tag "user[role_ids][]",role.id,f.object.has_role?(role.name) %><%= role.display_name %> </label></li>
    <% end %>
    </ul>
    <%= hidden_field_tag "user[role_ids][]",nil %>
  </div>
</div>


<div class="row resources">
  <div class="columns medium-12">
    <h5>下属部门 </h5>
    <% User.cache_departments.group_by{|item| item[2]}.each_pair do |group,depts| %>
    <h6><%= group %> <a href='#' >全选</a></h6>
    <ul class='medium-block-grid-8'>
      <% depts.each do |dept| %>
      <li><label> <%= check_box_tag "user[department][]",dept[1],f.object.department.include?(dept[1]) %><%= short_dept_name(dept[0]) %> </label></li>
      <% end %>
    </ul>
    <% end %>
    <%= hidden_field_tag "user[department][]",nil %>
  </div>
</div>
<% end %>
  <div class="actions">
    <%= f.submit "提交",class: "button",data: {disable_with: '提交中...'} %>
  </div>
<% end %>

<%= link_to '返回', users_path %>

<fieldset>
  <legend><span>操作说明</span></legend>
  <ul>
  <li>如不更新密码新留空</li>
  <li>直属管理ID用于指定特定人员的所属管理者</li>
  <li>角色请管理员在角色管理中添加 </li>
  </ul>
</fieldset>
<% foot do %>
<script type="text/javascript" charset="utf-8">

$(document).on("ready page:load",function(ev){
    //console.log(ev)
  $(".resources h6 a").unbind("click").click(function(e){
      e.preventDefault();
      var ck_state = !!$(this).data("ck");
      $(this).parent().next("ul").find("input[type=checkbox]").prop("checked",!ck_state);
      $(this).text(ck_state ? "全选" : "取消全选").data("ck",!ck_state);
    });
});

</script>
<% end %>
