<%= form_for(@user) do |f| %>
  <div class="field">
    <p><strong>姓名: <%= f.object.user_name %> </strong></p>
  </div>
  <div class="field">
    <%= f.label :password,"密码" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :mgr_code,"直属管理者ID" %>
    <%= f.text_field :mgr_code %>
  </div>

  <div class="field">
    <%= f.label :roles,"角色" %>
    <% for role in current_user.managed_roles %>
    <%= check_box_tag "user[roles][#{role}]", role, @user.roles.include?(role), {:name => "user[roles][]"}%>
    <%= label_tag "user_roles_#{role}", I18n.t(role) %><br />
    <% end %>
    <%= hidden_field_tag "user[roles][]", "" %>
  </div>


  <div class="actions">
    <%= f.submit "提交",class: "button" %>
  </div>
<% end %>

<%= link_to '返回', users_path %>

<fieldset>
  <legend><span>操作说明</span></legend>
  <ul>
  <li>如不更新密码新留空</li>
  <li>直属管理ID用于指定特定人员的所属管理者</li>
  <li>
  <dl>
    <dt>角色说明：</dt>
    <dd>系统管理员: 管理整个系统</dd>
    <dd>管理员:考勤系统管理人员,管理节假日，人员等</dd>
    <dd>部门管理员:部门考勤管理人员,审核每日考勤</dd>
    <dd>考勤查看员:允许查看所有部门考勤及审批情况</dd>
    <dd>Badman: 坏人,不允许登录系统</dd>
  </dl>
  </li>
  </ul>
</fieldset>
