<%= form_for(@user) do |f| %>
  <div class="field">
    <p><strong>姓名: <%= f.object.user_name %> </strong></p>
  </div>
  <div class="field">
    <%= f.label :password,"密码" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :title,"职位" %>
    <%= f.select :title,Episode::Title,prompt: true %>
  </div>
  <div class="field">
    <%= f.label :mgr_code,"直属管理者ID" %>
    <%= f.text_field :mgr_code %>
  </div>

  <div class="field">
    <%= f.label :roles,"角色" %>
    <% Role.all_without_reserved.each do |role| %>
    <label> <%= check_box_tag "user[role_ids][]",role.id,f.object.role_ids.include?(role.id) %><%= role.display_name %> </label>
    <% end %>
    <%= hidden_field_tag "user[role_ids][]",nil %>
  </div>


  <div class="actions">
    <%= f.submit "提交",class: "button",data: {disable_with: '提交中...'} %>
  </div>
<% end %>

<%= link_to '返回', users_path %>

<fieldset>
  <legend><span>操作说明</span></legend>
  <ul>
  <li>如不更新密码新留空</li>
  <li>直属管理ID用于指定特定人员的所属管理者</li>
  <li>角色请管理员在角色管理中添加 </li>
  </ul>
</fieldset>
