<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <% if @to_be_confirms.present? && can?(:confirm, :all)  %>
    <h4><span>待确认</span></h4>
    <% @to_be_confirms.each do |key,values| %>
    <div class="panel">
      <% cfm_type = Task::CfmType.rassoc(key) %>
      <h5><%= cfm_type.try(:first) %></h5>
      <% values.each do |task| %>
      <%= link_to task , send(cfm_type.third,{task: task}),class: "button" %>
      <% end %>
    </div>
    <% end %>
    <hr />
    <% end %>
    <h4><span>年度剩余假期</span></h4>
    <table>
      <tr>
        <% @user.check_types.each do |item| %>
        <th><%= item.third %></th>
        <% end %>
      </tr>
      <tr>
        <% @user.check_types.each do |item| %>
        <td><%=@user.calcute_remain_holiday(item)  %></td>
        <% end %>
      </tr>
      <table>

    <h4><span>异常考勤记录</span></h4>
    <table>
      <tr>
        <th>日期</th>
        <th>签入时间</th>
        <th>签出时间</th>
        <th>类别</th>
        <th>时长</th>
        <th>异常描述</th>
      </tr>
      <% @my_journals.each do |item| %>
      <% ck_type = Journal::CheckType.rassoc(item.check_type) %>
      <tr>
        <td><%= item.update_date %></td>
        <td><%= item.checkin.try(:strftime,"%H:%M") %></td>
        <td><%= item.checkout.try(:strftime,"%H:%M") %></td>
        <td><%= ck_type.third %></td>
        <td><%= dis_dval(item,ck_type) %></td>
        <td><%= item.description %></td>
      </tr>
      <% end %>
    <tr><td colspan=6><%= paginate(@my_journals) %></td></tr>
    </table>

  </div>
</div>

