<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <% if @to_be_confirms.present? && can?(:confirm, :all)  %>
    <h4><span></span></h4>
    <% @to_be_confirms.each do |key,values| %>
    <div class="panel">
      <% cfm_type = Task::CfmType.rassoc(key) %>
      <h5>待确认:<%= cfm_type.try(:first) %></h5>
      <% values.each do |task| %>
      <%= link_to task , send(cfm_type.third,{task: task}),class: "button" %>
      <% end %>
    </div>
    <% end %>
    <hr />
    <% end %>

    <h5><span>年度剩余假期</span></h5>
    <table>
      <tr>
        <% @user.check_types.each do |item| %>
        <th><%= item.third %></th>
        <% end %>
      </tr>
      <tr>
        <% @user.check_types.each do |item| %>
        <td><%=@user.calcute_remain_holiday(item)  %></td>
        <% end %>
      </tr>
    </table>

    <h5><span>异常考勤记录</span></h5>
    <table>
      <tr>
        <th>日期</th>
        <th>签入时间</th>
        <th>签出时间</th>
        <th>类别</th>
        <th>时长</th>
        <th>异常描述</th>
      </tr>
      <%= render :partial => 'journals/item', :collection => @my_journals %>
      <tr>
        <td colspan=3><%= page_entries_info(@my_journals,entry_name:'') %></td>
        <td colspan=3> <%= link_to "更多", journals_path %></td>
      </tr>
    </table>

  </div>
</div>

