<div id="search" class="panel">
  <form data-remote="true"  action="#" data-replace-with="#content">
    <div class="row">
      <div class="columns medium-2">
        <label>用户id:</label>
        <%= text_field :user, :uid, placeholder: "用户id" %>
      </div>
      <div class="columns medium-3">
        <label>姓名:</label>
        <%= text_field :user,:user_name %>
      </div>
      <div class="columns medium-2">
        <label>部门:</label>
        <%= select :user, :dept_code, cache_dept,prompt: "选择部门" %>
      </div>
      <div class="columns medium-3">
        <label>邮箱:</label>
        <%= text_field :user,:email %>
      </div>
      <div class="columns medium-2">
        <input type="submit" class="button tiny inline-button" text="搜索"/>
      </div>
    </div>
  </form>
  <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>名字</th>
      <th>邮箱</th>
      <th>部门</th>
      <th>职位</th>
      <th>离职日期</th>
      <th>直属管理者ID</th>
      <th>角色</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="content">
    <%= render partial: 'items',object: @users %>
  </tbody>
</table>


<fieldset>
  <legend><span>操作说明</span></legend>
  <ul>
    <li>须指定直属管理者人员：角色为部门管理者的非高管职位须指定其直属管理者ID</li>
    <li>点击“重置密码”会重置某用户10个系统账号密码</li>
    <li>点击“删除账号”会删除某用户9个系统账号（不含考勤系统）</li>
    <li>名字为绿色加粗表明该员工处于突击状态</li>
  </ul>
</fieldset>

