<div class="row">
  <%= render 'users/right_nav' %>
  <div class="columns medium-9 medium-pull-3">
    <h5><span><%= @page_title %></span></h5>
    <% if  can? :search,Checkinout && params[:only] != "me" %>
    <div id="search" class="panel">
      <form data-remote="true"  action="#" data-replace-with="#content">
        <div class="row">
          <div class="columns medium-3">
            <label>用户id:</label>
            <%= text_field :checkinout, :user_id, placeholder: "用户id" %>
          </div>
          <div class="columns medium-3">
            <label>部门:</label>
            <%= select :user, :dept_code, current_user.cache_dept.depts,prompt: "选择部门" %>
          </div>
          <div class="columns medium-3">
            <label>日期:</label>
            <%= text_field :checkinout,:rec_date,type: "date",placeholder: "2013-08-15"  %>
          </div>
          <div class="columns medium-3">
            <input type="submit" class="button small inline-button" text="搜索"/>
            <%= link_to "导出", checkinouts_path(format: :xls), class: "export_xls small button"  %>
          </div>
        </div>
      </form>
      <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
    </div>
    <% end %>
    <div class="panel">
      <h4>待确认考勤</h4>
      <% @to_be_confirm.each do |item| %>
        <%= link_to item , kaoqing_users_path(task: item),class: "button" %>
      <% end %>
    </div>

    <h4><%= @date %></h4>
    <table>
      <thead>
        <tr>
          <% current_user.report_titles.each do |item| %>
          <th><%= item.des %></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="content">
      <% @users.each_with_index do |item,index|  %>
        <%= current_user.wrap(item,index) %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

