<div class="row">
  <div class="columns medium-12">
    <h5><span><%= @page_title %></span></h5>
    <% if  can? :search,Checkinout && params[:only] != "me" %>
    <div id="search" class="panel">
      <form data-remote="true"  action="#" data-replace-with="#content">
        <div class="row">
          <div class="columns medium-3">
            <label>用户id:</label>
            <%= text_field :checkinout, :user_id, placeholder: "用户id" %>
          </div>
          <div class="columns medium-3">
            <label>部门:</label>
            <%= select :user, :dept_code, current_user.cache_dept.depts,prompt: "选择部门" %>
          </div>
          <div class="columns medium-3">
            <label>日期:</label>
            <%= text_field :checkinout,:rec_date,type: "date",placeholder: "2013-08-15"  %>
          </div>
          <div class="columns medium-3">
            <input type="submit" class="button small inline-button" text="搜索"/>
            <%= link_to "导出", checkinouts_path(format: :xls), class: "export_xls small button"  %>
          </div>
        </div>
      </form>
      <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
    </div>
    <% end %>
    <div class="panel need_change_event">
      <% if  @to_be_confirm.present? %>
      <h4>待确认考勤</h4>
      <% @to_be_confirm.each do |item| %>
      <%= link_to item , kaoqing_users_path(task: item),class: "button" %>
      <% end %>
      <% end %>
      <h4>已确认考勤 <small>点击选择日期</small></h4>
      <%= text_field_tag :date,'',class: "datepicker",readonly: true,data: {url: kaoqing_users_path("F001:#{current_user.id}:")} %>
    </div>

    <h5><%= @date.to_s %> (<%= I18n.t("date.day_names")[@date.wday] %>) 考勤确认</h5>
    <table>
      <thead>
        <tr>
          <% current_user.report_titles.each do |item| %>
          <th><%= item.des %></th>
          <% end %>
        </tr>
      </thead>
      <tbody id="content" class="in_editor">
      <%= current_user.wrap(@task,need_update: @need_update,rule: @rule) %>
      <tr>
        <td colspan="<%= current_user.report_titles.length %>" class="text-right" >
          <% if @need_update %>
            <% if params[:cmd] == 'update' %>
            <span class="red">点击完成本次编辑</span>
            <%= link_to "退出编辑" , confirm_users_path(@task),class: "button success small mt0",data: {method: :post} %>
            <% else %>
            <span class="red">考勤未确认</span>
            <%= link_to "确认考勤" , confirm_users_path(@task),class: "button success small mt0",data: {method: :post} %>
            <% end %>
          <% else %>
            <span class='red'>该日考勤已确认</span>
            <%= link_to("重新编辑", kaoqing_users_path(@task,cmd: 'update'),class: "button success small mt0") unless @hide_edit  %>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
    <fieldset>
      <legend><span>操作步聚说明</span></legend>
      <ol>
        <li>点击方框内空白处进行编辑</li>
        <li>按回车=> 确认更新</li>
        <li>方框外点击 => 取消更新</li>
        <li><span class="red">注：</span>每次26号之前可进行编辑</li>
      </ol>
    </fieldset>
  </div>

</div>

<% foot do %>
<script type="text/javascript" charset="utf-8">

$(document).on("ready page:load",function(){
    $("tr.need_update td[class^=c_aff]").restInPlace();
  });

</script>
<% end %>
