
<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>姓名:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>邮箱:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>部门:</strong>
  <%= @user.department %>
</p>

<p>
  <strong>职位:</strong>
  <%= @user.title %>
</p>

<p>
  <strong>离职日期:</strong>
  <%= @user.expire_date %>
</p>

<p>
  <strong>部门编号:</strong>
  <%= @user.dept_code %>
</p>

<p>
  <strong>直属管理者ID:</strong>
  <%= @user.mgr_code %>
</p>
<p>
  <strong>角色:</strong>
  <%= @user.roles_cn.join(",") %>
</p>


<%= link_to '编辑', edit_user_path(@user) %> |
<%= link_to '返回', users_path %>
