<%= render partial: 'remain_holiday',object: current_user.decorate %>
<%= form_for(@episode,html:{id: "episode_form"}) do |builder| %>

<fieldset>
  <legend><span>申请日期</span></legend>
    <%= render "child_form",f: builder %>

  <div class="child_episodes">
    <%= builder.fields_for :children do |item_f| %>
      <%= render "child_form",f: item_f %>
    <% end %>
  </div>
  <%= link_to "连续假期", "#",class: 'button tiny alert',id:'more_episode' %> <small>连续非同类别申请时使用</small>
</fieldset>
<div class="row">
  <div class="columns medium-4 hide-for-small-only">
    <label for="">部门</label>
    <input type="text" value="<%= current_user.dept.name %>" readonly=true>
  </div>
  <div class="columns small-6 medium-4">
    <%= builder.label :title,'职位' %>
    <%= builder.select :title,Episode::Title,prompt: true %>
  </div>
  <div class="columns small-6 medium-4">
    <div class="row collapse">
      <%= builder.label :total_time,"申请总时长" %>
      <div class="columns small-9">
        <%= text_field_tag :sum_total_time,"",pattern: "[.0-9]+",readonly: true, id: "total_time" %>
      </div>
      <div class="columns small-3">
        <span class="postfix unit"><%= Holiday.unit(builder.object.try(:holiday_id) || 1) %></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <%= builder.label :comment,"申请事由" %>
    <%= builder.text_area :comment,required: true %>
  </div>
</div>
<div class="row">
  <div class="columns">
    <%= builder.submit "提交",class: "button",data: {disable_with: "提交中,请稍候..."} %>
  </div>
</div>
<% end %>
<fieldset>
  <legend><span>说明</span></legend>
  <p>1、带薪病假及1天以上病假请附市级以上医院盖章的病假单。</p>
  <p>2、年假、特批、带薪事假、带薪病假的天数，请与人力资源部或部门确认后填写。</p>
  <!--<p>3、特批/倒休最小请假单位1小时，其余假期最小请假单位0.5天。</p>-->
</fieldset>

<% foot do %>
<script type="text/javascript" charset="utf-8">
  $("form#episode_form").on("submit.rails",function(e){
      var child_total;
      $(".child_total").each(function(){
        if($(this).data("unit") == "天" ){
         child_total = parseFloat($(this).val());
         if (child_total != NaN && (child_total % 0.5) != 0) {
           alert("假期最小单位为0.5天")
           e.result = false;
           return;
         }
        }
        });
       return e.result;
      });

</script>

<% end %>
