<%= render partial: 'remain_holiday',object: current_user.decorate %>
<%= form_for(@episode,html:{id: "episode_form"}) do |f| %>

<fieldset>
  <legend><span>申请日期</span></legend>
  <% (@episode.children.presence || [@episode]).each do |item| %>
  <div class="row" id="parent_episode">
    <div class="columns small-6 medium-3">
      <%= f.label '类别' %>
      <%= select_tag "holiday_id[]",options_for_select(Holiday.dept_holiday(current_user.dept_group[1]).map{|item|[item.name,item.id]}),{prompt: '请选择假期',class: 'holiday_select',required: true} %>
    </div>
    <div class="columns small-6 medium-3">
      <div class="row collapse">
        <%= f.label "时长" %>
        <div class="columns small-9">
          <%= text_field_tag "total_time[]",item.total_time,required: true,pattern: "[.0-9]+",class: 'child_total' %>
        </div>
        <div class="columns small-3">
          <span class="postfix child_unit"><%= Holiday.unit(item.holiday_id) %></span>
        </div>
      </div>
    </div>
    <div class="columns medium-3">
      <%= f.label "开始时间" %>
      <%= text_field_tag "start_date[]",item.start_date.strftime("%F %T"),class: "datetimepicker",readonly: true ,required: true%>
    </div>
    <div class="columns medium-3 datetime">
      <%= f.label "结束时间" %>
      <%= text_field_tag "end_date[]",item.end_date.strftime("%F %T"),class: "datetimepicker",readonly: true ,required: true%>
    </div>

  </div>
  <% end %>
  <div class="child_episodes"></div>
  <%= link_to "连续假期", "#",class: 'button tiny alert',id:'more_episode' %>
</fieldset>
<div class="row">
  <div class="columns medium-4 hide-for-small-only">
    <label for="">部门</label>
    <input type="text" value="<%= current_user.dept.name %>" readonly=true>
  </div>
  <div class="columns small-6 medium-4">
    <%= f.label :title,'职位' %>
    <%= f.select :title,Episode::Title,prompt: true %>
  </div>
  <div class="columns small-6 medium-4">
    <div class="row collapse">
      <%= f.label :total_time,"申请总时长" %>
      <div class="columns small-9">
        <%= f.text_field :total_time,required: true,pattern: "[.0-9]+" %>
      </div>
      <div class="columns small-3">
        <span class="postfix unit"><%= @episode.holiday.unit %></span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <%= f.label :comment,"申请事由" %>
    <%= f.text_area :comment,required: true %>
  </div>
</div>
<div class="row">
  <div class="columns">
    <%= f.submit "提交",class: "button",data: {disable_with: "提交中,请稍候..."} %>
  </div>
</div>
<% end %>
<fieldset>
  <legend><span>说明</span></legend>
  <p>1、带薪病假及1天以上病假请附市级以上医院盖章的病假单。</p>
  <p>2、年假、特批、带薪事假、带薪病假的天数，请与人力资源部或部门确认后填写。</p>
  <p>3、特批/倒休最小请假单位1小时，其余假期最小请假单位0.5天。</p>
</fieldset>

<% foot do %>
<script type="text/javascript" charset="utf-8">
  $("form#new_episode").submit(function(){
      if($(".unit").text() == "天" ){
       var total_time = parseFloat($("#episode_total_time").val());
       if (total_time != NaN && (total_time % 0.5) != 0) {
         alert("假期最小单位为0.5天")
         return false;
       }
      }
      })

</script>

<% end %>
