<%= form_for(@episode) do |f| %>
<div class="row">
  <div class="columns medium-12">
    <%= f.label :holiday_id,'假期类别' %>
    <%= f.collection_select :holiday_id,Holiday.all,:id,:name,prompt: true %>
  </div>
</div>

<div class="row">
  <div class="columns medium-5 datetime">
    <%= f.label :start_date,"开始时间" %>
    <%= f.text_field :start_date,class: "datepicker",data:{:'date-format' =>  "yyyy-mm-dd hh:ii"},readonly: true %>
  </div>
  <div class="columns medium-5 datetime">
    <%= f.label :end_date,"结束时间" %>
    <%= f.text_field :start_date,class: "datepicker",data:{:'date-format' =>  "yyyy-mm-dd hh:ii"},readonly: true %>
  </div>
  <div class="columns medium-2">
    <label for="total">总共时间</label>
    <%= f.text_field :comment,id: "total" %>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <%= f.label :comment,"请假事由" %>
    <%= f.text_area :comment %>
  </div>
</div>
<div class="row">
  <div class="columns">
    <%= f.submit "提交",class: "button" %>
  </div>
</div>
<% end %>

