<% items.each do |episode| %>
<tr>
  <td><%= episode.user_name %></td>
  <td><%= episode.dept_name %></td>
  <td><%= episode.holiday.name %></td>
  <td><%= episode.start_date %></td>
  <td><%= episode.end_date %></td>
  <td><%= episode.total_time %><%= episode.holiday.unit %></td>
  <td><%= episode.comment.truncate(15) %></td>
  <td><%= episode.state %></td>
  <td>
<%= link_to('详情', episode_path(episode,format: :js),data:{"reveal-id": "modal_window","reveal-ajax": true}) if can?(:read,Episode)%>
    <%= link_to('删除', episode_path(episode.id),data: {method: :delete,type: :json,remote: true,confirm: "确定要删除该假单么？"}) if can?(:destroy,episode) %>
  </td>
</tr>
<% end %>
<tr>
  <td colspan=5>
    <%= paginate items,remote:true %>
  </td>
    <td colspan=4><%= page_entries_info items,entry_name: "记录" %></td>
</tr>
