<% items.each do |episode| %>
<tr>
  <td><%= episode.user.user_name %></td>
  <td><%= episode.user.dept.name %></td>
  <td><%= episode.holiday.name %></td>
  <td><%= episode.start_date %></td>
  <td><%= episode.end_date %></td>
  <td><%= episode.total_time %><%= episode.holiday.unit %></td>
  <td><%= episode.comment %></td>
  <td><%= episode.state %></td>
  <td>
    <%= link_to('查看', episode_path(episode.id)) if can?(:show,Episode) %>&nbsp;
    <%= link_to('删除', episode_path(episode.id),data: {method: :delete,type: :json,remote: true,confirm: "确定要删除该假单么？"}) if can?(:destroy,episode) %>
  </td>
</tr>
<% end %>
<tr>
  <td colspan=5>
    <%= paginate items,remote:true %>
  </td>
    <td colspan=4><%= page_entries_info items,entry_name: "记录" %></td>
</tr>
