<div id="search" class="panel">
  <form data-remote="true" data-no-turbolink  action="#" data-replace-with="#content">
    <div class="row">
      <div class="columns medium-1">
        <label>UID:</label>
        <%= text_field :episode,:user_id,placeholder:'用户id' %>
      </div>
      <div class="columns medium-1">
        <label>姓名:</label>
        <%= text_field :user,:user_name %>
      </div>
      <div class="columns medium-2">
        <label>假别:</label>
        <%= collection_select(:episode,:holiday_id,Holiday.all,:id,:name,prompt: "请选择假期类别") %>
      </div>
      <div class="columns medium-1">
        <label>状态:</label>
        <%= select :episode, :state, Episode::State,prompt: "选择状态" %>
      </div>
      <div class="columns medium-2">
        <label>部门:</label>
        <%= select :user, :dept_code, cache_dept,prompt: "选择部门" %>
      </div>
      <div class="columns medium-1">
        <label>邮箱:</label>
        <%= text_field :user,:email %>
      </div>
      <div class="columns medium-1">
        <label>开始时间:</label>
        <%= text_field :episode, :start_date,class: "datetimepicker",readonly: true %>
      </div>
      <div class="columns medium-1">
        <label>结束时间:</label>
        <%= text_field :episode, :end_date,class: "datetimepicker",readonly: true %>
      </div>
      <div class="columns medium-2">
        <label>&nbsp;</label>
        <input type="submit" class="button tiny" text="搜索"/>
        <% if can?(:export,Episode) %>
          <%= link_to "导出数据", list_episodes_path(format: :xls), class: "export_xls button tiny secondary"  %>
        <% end %>
      </div>
    </div>
  </form>
  <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
</div>
<% if @episodes.present? %>


<table>
  <thead>
    <tr>
      <th>名字</th>
      <th>部门</th>
      <th>假别</th>
      <th>开始时间</th>
      <th>结束时间</th>
      <th>申请时长</th>
      <th>事由</th>
      <th>审批结果</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="content">
  <%= render :partial => 'items',object: @episodes %>
  </tbody>
</table>

<% end %>

</div>
