<%= render partial: 'episodes/remain_holiday',object: @episode.user.decorate %>
<p>
<strong>名字:</strong>
<%= @episode.user.user_name %>
</p>

<p>
<strong>假别:</strong>
<%= @episode.holiday.name %>
</p>
<p>
<strong>开始时间:</strong>
<%= @episode.start_date.strftime("%Y-%m-%d %H:%M:%S") %>
</p>

<p>
<strong>结束时间:</strong>
<%= @episode.end_date.strftime("%Y-%m-%d %H:%M:%S") %>
</p>
<p>
<strong>申请时长:</strong>
<%= @episode.total_time %> <%= @episode.holiday.unit %>
</p>
<p>
<strong>申请事由:</strong>
<%= @episode.comment %>
</p>

<p>
<strong>申请时间:</strong>
<%= @episode.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
</p>

<p>
<strong>审核状态:</strong>
<%= Episode::State.rassoc(@episode.state).first %>
</p>
<% if @approves.present? %>
<div>
  <strong>审核人员:</strong>
  <table>
    <tr>
      <th>审核人</th>
      <th>简要说明</th>
      <th>审核状态</th>
      <th>审核时间</th>
    </tr>
    <% @approves.each do |item| %>
    <tr>
      <td><%= item.user_name %></td>
      <td><%= item.des %></td>
      <td><%= Episode::State.rassoc(item.state).first %></td>
      <td><%= item.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
<% if @approve %>
<%= form_for @approve do |f| %>
<div class="field">
  <%= f.label :des,"简要说明" %><br>
  <%= f.hidden_field :episode_id %>
  <%= hidden_field_tag :task,@task %>
  <%= f.hidden_field :state %>
  <%= f.text_area :des %>
</div>
<%= f.submit '通过', class: "button success" %>
<%= f.submit '驳回',class: "button" %>
<% end %>
<% end %>

<% foot do %>
  <script type="text/javascript" charset="utf-8">
    $("form .button").click(function(e){
        if($(this).hasClass("success")){
            $("#approve_state").val(1);
          }else{
            if($("#approve_des").val().length < 1){
              e.preventDefault();
              alert("请在简要说明中填写驳回理由!");
              return false;
            }
            $("#approve_state").val(2);
        }
    });
  </script>
<% end %>
