<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @approfe.user_id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @approfe.user_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @approfe.state %>
</p>

<p>
  <strong>Des:</strong>
  <%= @approfe.des %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @approfe.episode_id %>
</p>

<%= link_to 'Edit', edit_approfe_path(@approfe) %> |
<%= link_to 'Back', approves_path %>
