<h4 class="blue">Dear <%= @leader_user.user_name %>:</h4>
<p>
本邮件由系统自动产生，并需要您回复处理，或直接到网页上进行操作，处理结果将作为考勤统计数据进行汇总，形成月度考勤表。请假审批全部由线上操作审批，其中涉及提交附件证明的如带薪病假、婚假、丧假、陪产假、产假好还需同时提交纸质版请假单据。本系统2015年3月31日正式上线，有问题请及时反馈以便后期优化。部门考勤汇总等功能后续上线。
</p>

<span class="blue">
  考勤确认单 (<%= @date %> <%= @wday %>) &nbsp;
  <%  if @leader_user.pending_task_length(:F001)>1 %>
  <%= link_to("你有历史考勤天数：#{@leader_user.pending_task_length(:F001)-1} 天未处理，请登录网页进行处理",  kaoqing_users_url("dept")) %>
  <% else %>
    <%= link_to("网页确认本日考勤",  kaoqing_users_url(@task.to_s)) %>
  <% end %>
</span>
<br/>
<br/>
<% if  @leader_user.ref_cmd[0] == 0 %>
<b class="green">无异常考勤，无需回复！</b>
<br/>
<br/>
<% end %>
<% if @count %>
<p><b class="red">您未能在希望的时间内确认考勤数据，这是第 <%= @count %> 次催缴！请尽快回复。（系统将最多催缴<%= OaConfig.setting(:prompt_max_times).to_i %>次）</b></p>
<% end %>
<table>
  <tr>
    <% @leader_user.report_titles.each do |item| %>
    <th class="<%= Journal::CheckType.assoc(item.name).try(:[],4) %>"><%= item.des %></th>
    <% end %>
  </tr>
  <%= @leader_user.wrap(@task,users: @users,need_update: false) %>
</table>

请直接回复本邮件，并在背景白色的单元格中填写确认的数值后，点击发送。<br>
<span class="red">
（白色背景行每行至少填写1项，否则系统视为未处理，仍会重复发送邮件）
</span>
<div>
  <ul>
    <% if @rule.name =~ /^ab/ %>
    <li>确认A分：填写确认的小时数(正数,早晨维护时间及7点到9点前的加班时间)。</li>
    <li>确认B分：填写确认的小时数(正数,节假日加班及7点到9点后的加班时间)。</li>
    <li>休假特批：填写确认的小时数(负数,特批请假时长，需提交特批假条)。</li>
    <li>迟到早退特批：填写确认的小时数(负数，如迟到为-0.5小时而不用算迟到)。</li>
    <% else %>
    <li>确认加班时长：有效加班时长(单位：小时，如2表示2小时) </li>
    <% end %>

    <li>迟到、早退、漏打卡:（单位：次，1为1次，空为没有）</li>
    <li>年假、病假、事假：（单位：天，一般为0.5或1天）</li>
    <li>特批描述：填写特批的原因，如“特批假期”或“因公外出”等，填写文字</li>
    <li>其它：特殊假期，x0.5, x1。其中x代表类别，数字1或0.5代表天数/次数；如a0.5表示旷工0.5天，i1表示哺乳期晚来1小时1次</li>
    <li><span class="blue">x如下：</span><br>
    <% Journal::MailDecType.each do |item| %>
    <% cktype = Journal::CheckType.assoc(item.first) %>
    <%= item.last %> ： <%=cktype.third  %> (单位：<%= cktype.fourth %>) <br>
    <% end %>
    </li>
  </ul>
</div>

<p>直接回复本邮件并在表格中直接填写内容即可，无需复制表格！或进行<%= link_to "网页确认",kaoqing_users_url(@task.to_s)  %></p>
<p>提示:请勿删除单元格或改变表格结构。</p>
<p>来自邮件机器人,目前尚在测试阶段。欢迎发邮件至 qmliu@pipgame.com 提出建议或意见。</p>
