<h4>考勤确认单 (<%= @date %>)</h4>
<% if  @leader_user.ref_cmd[0] == 0 %>
  <b class="green">无异常考勤，无需回复！</b>
<% end %>
<% if @count %>
  <p><b class="red">您未能在希望的时间内确认考勤数据，这是第 <%= @count %> 次催缴！请尽快回复。（系统将最多催缴10次）</b></p>
<% end %>
<table>
  <tr>
    <% @leader_user.report_titles.each do |item| %>
    <th><%= item.des %></th>
    <% end %>
  </tr>
  <% @users.each_with_index do |item,index|  %>
  <%= @leader_user.wrap(item,index) %>
  <% end %>
</table>
<h4>Dear <%= @leader_user.user_name %>:</h4>
<p>
本邮件由系统自动产生，并需要您回复处理.希望今后可以取代行政助理手工填写的确认的邮件.
<br>
目前尚在测试中，请暂时不要放弃原来的人工流程,建议您积极参与以发现问题和错误以便改正.
</p>

<b class="red"> 注:上表是员工考勤确认表单，请在背景白色的单元格中填写确认信息(每行除“额外说明”说明外，只须填写一项) </b>
<div>
  <ul>
    <li><b>确认贡献分或确认倒休</b>：填写确认的小时数(负数为扣减:如迟到自动扣减0.5小时而不用算迟到)。</li>
    <li><b> 额外说明: </b>自由填写备注。</li>
    <li><b>迟到、早退、旷工、漏打卡等项:</b>填写1或不填。</li>
    <li><b>年假、病假、事假：</b>不填或者填写天数(最小天数为半天,用0.5表示)。</li>
  </ul>
</div>

<p>直接回复本邮件并在表格中直接填写内容即可，无需复制表格！</p>
<p>提示:请勿删除单元格或改变表格结构。</p>
<p>来自邮件机器人,目前尚在测试阶段。欢迎发邮件至 qmliu@pipgame.com 提出建议或意见。</p>
