<h4>Dear <%= @leader_user.user_name %>:</h4>
<p>
感谢提交<%= @date %>考勤信息,
</p>
<p>如需更改确认信息，请点击<%= link_to "重新确认",kaoqing_users_url("F001:#{@leader_user.id}:#{@date}","update")  %>进行更新.</p>

<% if @changed_user_names.present? %>
<b class="red">考勤信息被更改的员工:</b>
<table>
  <tr>
    <th>名字</th>
    <th>结论</th>
  </tr>
  <% @changed_user_names.each do |user_name,desc,dval| %>
  <tr>
    <td><%= user_name %></td>
    <td> <%= desc  %> </td>
  </tr>
  <% end %>
</table>
<% end %>

