<h4>考勤确认单 (<%= @date - 1.day %>)</h4>
<table>
  <tr>
    <th>行号</th>
    <th>部门</th>
    <th>姓名</th>
  </tr>
  <% @users.each_with_index do |item,index|  %>
  <tr>
    <td><%= index + 1 %></td>
    <td><%= item.department.name %></td>
    <td><%= item.user_name %></td>
  </tr>
  <% end %>
</table>
<h4>Dear <%= @leader_user.user_name %>:</h4>

<p>
本邮件由系统自动产生，并需要您回复处理.希望今后可以取代行政助理手工填写的A/B分确认的邮件.
<br>
目前尚在测试中，请暂时不要放弃原来的人工流程,建议您积极参与以发现问题和错误以便改正.
</p>

<p>
上表是员工考勤确认表单，请在背景白色的单元格中填写确认信息。
<br>
其中:
<br>
确认贡献分：填写确认的小时数(负数为扣减:如迟到自动扣减不用算迟到)。
<br>
额外说明:自由填写备注。
<br>
迟到、早退、旷工、漏打卡等项:填写1或不填。
<br>
年假、病假、事假：不填或者填写天数(0.5表示半天)。
</p>

<p>
直接回复本邮件并在表格中直接填写内容即可，无需复制表格！
<br>
提示:请勿删除单元格或改变表格结构。
<br>
来自邮件机器人,目前尚在测试阶段。欢迎发邮件至 qmliu@pipgame.com 提出建议或意见（标题请注明“BUG”)。
</p>
