<%= form_for(@oa_config) do |f| %>

  <div class="field">
    <%= f.label :des,"配置项" %><br>
    <%= f.text_field :des %>
  </div>
  <div class="field">
    <%= f.label :value,"值" %><br>
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit "提交",class: "button small" %>
  </div>
<% end %>
