<p id="notice"><%= notice %></p>

<h1>Listing Oa Configs</h1>

<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Des</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @oa_configs.each do |oa_config| %>
      <tr>
        <td><%= oa_config.key %></td>
        <td><%= oa_config.des %></td>
        <td><%= oa_config.value %></td>
        <td><%= link_to 'Show', oa_config %></td>
        <td><%= link_to 'Edit', edit_oa_config_path(oa_config) %></td>
        <td><%= link_to 'Destroy', oa_config, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Oa config', new_oa_config_path %>
