<% ck_type = Journal::CheckType.rassoc(item.check_type) %>
<tr>
  <td title=<%= l(item.update_date,format: '%A') %>><%= item.update_date.strftime("%y/%m/%d") %></td>
  <td><%= item.checkin.try(:strftime,"%H:%M") %></td>
  <td><%= item.checkout.try(:strftime,"%H:%M") %></td>
  <td><%= ck_type.third %></td>
  <td><%= dis_dval(item,ck_type) %></td>
  <td><%= item.description %></td>
  <td><%= dis_episode(item,ck_type,link: true,prompt_new: true,format: :js) %></td>
  <td><%= Episode::State.rassoc(item.state).try(:first) if item.state %></td>
</tr>
