<div class="row">
  <div class="columns medium-12">
    <% if can? :list,Journal %>
    <div id="search" class="panel">
      <form data-remote="true"  action="#" data-replace-with="#content">
        <div class="row">
          <div class="columns medium-1">
            <label>用户id:</label>
            <%= text_field :journal, :user_id, placeholder: "用户id" %>
          </div>
          <div class="columns medium-1">
            <label>用户名:</label>
            <%= text_field :user, :user_name, placeholder: "用户名" %>
          </div>
          <div class="columns medium-2">
            <label>部门:</label>
            <%= select :user, :dept_code, current_user.cache_dept.try(:depts),prompt: "选择部门" %>
          </div>
          <div class="columns medium-2">
            <label>类别 :</label>
            <%= select :journal, :check_type, Journal::CheckType[0...-1].map{|item|[item.third,item.second]},prompt: "类别" %>
          </div>
          <div class="columns medium-2">
            <label>开始日期:</label>
            <%= text_field_tag "journal[gt_update_date]","",class: 'datepicker' ,readonly: true %>
          </div>
          <div class="columns medium-2">
            <label>结束日期:</label>
            <%= text_field_tag "journal[lt_update_date]","",class: 'datepicker',readonly: true  %>
          </div>
          <div class="columns medium-2">
            <input type="submit" class="button small inline-button" text="搜索"/>
            <% if can?(:export,Journal) %>
              <%= link_to "导出数据", list_journals_path(format: :xls), class: "export_xls button small secondary"  %>
            <% end %>
          </div>
        </div>
      </form>
      <div class="toggle" ref="#toggle_table" style="" title="点击收起"></div>
    </div>
    <% end %>
    <table>
      <thead>
        <tr>
        <th>日期</th>
        <th>名字</th>
        <th>部门</th>
        <th>类别</th>
        <th>时长</th>
        <th>签入时间</th>
        <th>签出时间</th>
        <th>异常描述</th>
        </tr>
      </thead>
      <tbody id="content">
      <%= render partial: 'items',object: @journals %>
      </tbody>
    </table>

  </div>
</div>

