<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @journal.user_id %>
</p>

<p>
  <strong>Update date:</strong>
  <%= @journal.update_date %>
</p>

<p>
  <strong>Check type:</strong>
  <%= @journal.check_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @journal.description %>
</p>

<p>
  <strong>Dval:</strong>
  <%= @journal.dval %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
