
<fieldset>
  <legend><span><%= @journal.update_date  %>(<%= l(@journal.update_date,format: '%A') %>)</span></legend>
  <p>
  <strong><%= @journal.user.try(:user_name) %></strong>
  </p>
  <p>
  <strong>异常类型:</strong>
  <%= @journal.ck_type[2] %>
  </p>

  <p>
  <strong>审批描述:</strong>
  <%= @journal.description %>
  </p>

  <p>
  <strong>异常工时： </strong>
  <%= dis_dval(@journal) %>
  </p>

  <%= link_to '编辑', edit_journal_path(@journal) %>
</fieldset>
