
<h3><span><%= @year_info.user.user_name %> <%= @year_info.year %></span></h3>
<%= form_for(@year_info, remote: true, type: :script) do |f| %>
  <div class="row">
  <div class='columns small-3'><%= f.label :year_holiday, "年假",class: 'inline' %></div>
  <div class='columns small-9'><%= f.number_field :year_holiday %></div>
</div>
<div class="row">
  <div class="columns small-3"><%= f.label :sick_leave, "病假" %></div>
  <div class="columns small-9"><%= f.number_field :sick_leave %></div>
</div>
<div class="row">
  <div class='columns small-3'><%= f.label :affair_leave, "事假" %></div>
  <div class='columns small-9'><%= f.number_field :affair_leave %></div>
</div>
<div class="row">
  <div class='columns small-3'><%= f.label :switch_leave, "倒休" %></div>
  <div class='columns small-9'><%= f.number_field :switch_leave %></div>
</div>
<div class="row">
  <div class='columns small-3'><%= f.label :ab_point, "AB分" %></div>
  <div class='columns small-9'><%= f.number_field :ab_point %></div>
</div>
<div class="row">
  <div class='columns small-3'><%= f.label :irregular, "非规则" %></div>
  <div class='columns small-9'><%= f.check_box :irregular %> <small>勾选后不会每日更新</small></div>
</div>
<div class="actions">
  <%= f.submit "提交", data: {disable_with: '提交中...'},class: 'button small' %>
</div>
<% end %>

