<%= form_for(@year_info) do |f| %>
  <% if @year_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@year_info.errors.count, "error") %> prohibited this year_info from being saved:</h2>

      <ul>
      <% @year_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :year_holiday %><br>
    <%= f.number_field :year_holiday %>
  </div>
  <div class="field">
    <%= f.label :sick_leave %><br>
    <%= f.number_field :sick_leave %>
  </div>
  <div class="field">
    <%= f.label :affair_leave %><br>
    <%= f.number_field :affair_leave %>
  </div>
  <div class="field">
    <%= f.label :switch_leave %><br>
    <%= f.number_field :switch_leave %>
  </div>
  <div class="field">
    <%= f.label :ab_point %><br>
    <%= f.number_field :ab_point %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
