<% items.each do |year_info| %>
<tr data-object="year_info" data-url="/year_infos/<%= year_info.id %>">
  <td><%= year_info.year %></td>
  <td><%=link_to year_info.user_name,user_path(year_info.user_id,format: :js),data:{"reveal-id": "modal_window","reveal-ajax": true} %></td>
  <td><%= year_info.year_holiday %></td>
  <!--td><%#= year_info.sick_leave %></td-->
  <td class="edit-in-place" data-attribute="affair_leave"><%= year_info.affair_leave %></td>
  <td class="edit-in-place" data-attribute="switch_leave"><%= year_info.switch_leave %></td>
  <td class="edit-in-place" data-attribute="ab_point"><%= year_info.ab_point %></td>
  <td><%= year_info.irregular == 1 ? "非规则" : "" %></td>
  <td><%= link_to "编辑", edit_year_info_path(year_info,format: :js), data:{"reveal-id": "modal_window","reveal-ajax": true} %></td>
</tr>
<% end %>
<td colspan="7"><%= paginate(items,remote: true) %></td>
