<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
<meta name="full-screen" content="yes">
<%= render_page_title  %>
<%= stylesheet_link_tag    "application",'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
</head>
<body>

<div class="row collapse">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
        <h1><a href="/">考勤系统</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <% if current_user %>
          <li><%= link_to "欢迎您 #{current_user.user_name}", user_path(current_user) %></li>
          <li><%= link_to "退出", session_path(current_user.id), data: {method: :delete} %></li>
          <% else %>
          <li><%= link_to "登录", new_session_path  %></li>
          <% end %>
        </ul>
        <ul class="left">
          <li class="<%= cur_page?('welcome','index') ? 'active' : '' %>"><a href="/">首页</a></li>
          <% if current_user %>
          <li class="<%= cur_page?('users','home') ? 'active' : '' %>"> <%= link_to "我的考勤", home_users_path %> </li>
          <li class="<%= cur_page?('episodes','index','new','create','show','edit') ? 'active' : '' %>"><%= link_to "我的申请", episodes_path %></li>
          <li class="<%= cur_page?('checkinouts', 'index') ? 'active' : '' %>"><%= link_to "我的签到记录", checkinouts_path %></li>
          <% if can?(:kaoqing,User) %>
            <li class="<%= cur_page?('users','kaoqing') ? 'active' : '' %>"><%= link_to "部门考勤", kaoqing_users_path("dept") %></li>
          <% end %>
          <% if can?(:list,Checkinout) %>
            <li class="<%= cur_page?('checkinouts','list') ? 'active' : '' %>"><%= link_to "部门签到记录", list_checkinouts_path %></li>
          <% end %>
          <% if can?(:list,Episode) %>
            <li class="<%= cur_page?('episodes','list') ? 'active' : '' %>"><%= link_to "部门假单", list_episodes_path %></li>
          <% end %>
          <% if can?(:change_pwd,User) %>
            <li class="<%= cur_page?('users','change_pwd') ? 'active' : '' %>"><%= link_to "更改密码", change_pwd_users_path %></li>
          <% end %>
          <% end %>
        </ul>
      </section>
    </nav>

  </div>
</div>
<div class="row">
  <div class="columns small-12">
    <%= render_breadcrumb unless current_page?(controller: 'welcome') %>
    <%= notice_message %>
    <%= yield %>
  </div>
</div>
    <%= yield :foot %>
</body>
</html>
